# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python Test

on:
  push:
    branches: [ master, development ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
    steps:
    - uses: actions/checkout@v6
    # https://docs.astral.sh/uv/guides/integration/github/#using-uv-in-github-actions
    - name: Install uv and Python ${{ matrix.python-version }}
      uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: uv sync --all-groups --dev
    # https://docs.astral.sh/ruff/integrations/#github-actions
    - name: Run ruff check
      run: uv run ruff check --output-format=github .
    - name: Run pytest with coverage
      run: |
        uv run coverage run -m pytest
        uv run coverage report -m
        uv run coverage lcov
    - name: Coveralls
      uses: coverallsapp/github-action@v2
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        flag-name: run-${{ matrix.python-version }}
        path-to-lcov: coverage.lcov
        parallel: true

  finish:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      uses: coverallsapp/github-action@v2
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        parallel-finished: true